{
    "environments": {
      "development": {
        "client": {
          "NODE_ENV": "development",
          "NEXT_PUBLIC_SERVER_URL": "http://localhost:8080",
          "NEXT_PUBLIC_ASSET_URL": "http://localhost:8080",
          "NEXT_PUBLIC_CLIENT_ID": "<YOUR_CLIENT_ID>",
          "NEXT_CF_URL": "<YOUR_CF_URL>",
          "NEXT_PUBLIC_USE_TIPTAP": false
        },
        "api": {
          "NODE_ENV": "development",
          "FRONT_URL": "http://localhost:3030",
          "ENVIRONMENT_URL": "http://localhost:8080",
          "GOOGLE_CLIENT_ID": "<YOUR_CLIENT_ID>",
          "GOOGLE_CLIENT_SECRET": "<YOUR_CLIENT_SECRET>",
          "MONGODB_URI": "mongodb://localhost:27017/melifydevelopment",
          "LAST30DAYS": "http://localhost:8082/last30days",
          "RETRIEVEEMAILBYLABELS": "http://localhost:8083/retrieveemailbylabels",
          "TOPICNAME": "projects/melify-development/topics/gmail-notifications"
        },
        "gcp/process_mails": {
          "SENTRY_SDK": "<YOUR_SENTRY_SDK>"
        },
        "./": {
          "DATABASE_NAME": "melifydevelopment",
          "URI_MONGODB": "mongodb://127.0.0.1:27017",
          "GOOGLE_CLIENT_ID": "<YOUR_CLIENT_ID>",
          "GOOGLE_CLIENT_SECRET": "<YOUR_CLIENT_SECRET>"
        }
      }
    },
    "shared": {
      "OPENAI_API_KEY": "<YOUR_OPENAI_API_KEY>",
      "API_KEY_MISTRAL": "<YOUR_API_KEY_MISTRAL>"
    }
  }
  